@charset "UTF-8";
@font-face {
    font-family: "cozy-real-estate";
    src:url("../fonts/cozy-real-estate.eot");
    src:url("../fonts/cozy-real-estate.eot?#iefix") format("embedded-opentype"),
        url("../fonts/cozy-real-estate.woff") format("woff"),
        url("../fonts/cozy-real-estate.ttf") format("truetype"),
        url("../fonts/cozy-real-estate.svg#cozy-real-estate") format("svg");
    font-weight: normal;
    font-style: normal;

}
[data-icon]:before {
    font-family: "cozy-real-estate" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "cozy-real-estate" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-house2:before {
    content: "b";
}
.icon-apartment-gbp:before {
    content: "M";
}
.icon-factory-gbp:before {
    content: "P";
}
.icon-house-search:before {
    content: "Q";
}
.icon-01:before {
    content: "a";
}
.icon-02:before {
    content: "b";
}
.icon-apartment:before {
    content: "c";
}
.icon-store:before {
    content: "d";
}
.icon-factory:before {
    content: "f";
}
.icon-bedrooms:before {
    content: "g";
}
.icon-bathrooms:before {
    content: "h";
}
.icon-garage:before {
    content: "i";
}
.icon-pool:before {
    content: "j";
}
.icon-garden:before {
    content: "k";
}
.icon-area:before {
    content: "l";
}
.icon-pets:before {
    content: "m";
}
.icon-no-pets:before {
    content: "n";
}
.icon-security:before {
    content: "o";
}
.icon-key:before {
    content: "p";
}
.icon-lock:before {
    content: "q";
}
.icon-sale-sign:before {
    content: "r";
}
.icon-rent-sign:before {
    content: "s";
}
.icon-sold-sign:before {
    content: "t";
}
.icon-rented-sign:before {
    content: "u";
}
.icon-find-property:before {
    content: "v";
}
.icon-find-agent:before {
    content: "w";
}
.icon-rooms:before {
    content: "x";
}
.icon-house-usd:before {
    content: "y";
}
.icon-house2-usd:before {
    content: "z";
}
.icon-apartment-usd:before {
    content: "A";
}
.icon-store-usd:before {
    content: "B";
}
.icon-land-usd:before {
    content: "C";
}
.icon-factory-usd:before {
    content: "D";
}
.icon-house-euro:before {
    content: "E";
}
.icon-house2-euro:before {
    content: "F";
}
.icon-apartment-euro:before {
    content: "G";
}
.icon-store-euro:before {
    content: "H";
}
.icon-land-euro:before {
    content: "I";
}
.icon-factory-euro:before {
    content: "J";
}
.icon-house-gbp:before {
    content: "K";
}
.icon-house2-gbp:before {
    content: "L";
}
.icon-39:before {
    content: "M";
}
.icon-store-gbp:before {
    content: "N";
}
.icon-land-gbp:before {
    content: "O";
}
.icon-42:before {
    content: "P";
}
.icon-43:before {
    content: "Q";
}
.icon-house2-search:before {
    content: "R";
}
.icon-apartment-search:before {
    content: "S";
}
.icon-store-search:before {
    content: "T";
}
.icon-land-search:before {
    content: "U";
}
.icon-factory-search:before {
    content: "V";
}
.icon-house-percent:before {
    content: "W";
}
.icon-house2-percent:before {
    content: "X";
}
.icon-apartment-percent:before {
    content: "Y";
}
.icon-store-percent:before {
    content: "Z";
}
.icon-land-percent:before {
    content: "0";
}
.icon-factory-percent:before {
    content: "1";
}
.icon-house:before {
    content: "a";
}
.icon-land:before {
    content: "e";
}

body {
    min-width: 360px;
}
#main-navbar{
    border-radius: 0;
}

.nav-pills .nav-pills.nav-stacked {
    display: none;
}

#imagenes label { padding-top: 0; }
#contenedor-checks .checkbox { min-width: 86px; }
#contenedor-checks img { display: block; margin: auto;}
#contenedor-checks .elems { text-align: center; }

.help-block {
    display: inline;
}

#alerta-size { display: none; }
#titulo-imagen{
    left: 0%; 
    right: 0%; 
    padding-bottom: 0px; 
    bottom: 0;
    /*position: absolute;*/
    /*top: 391px;*/
}
.by{
    border-top: 1px solid #bdbdbd;
    padding: 10px;
    padding-bottom: 5px;
}
.pie{
    background-color: #f0f0f0;
    border-color: #eee;
    color: #666;
    padding-top: 10px;
}
.row{
    padding-bottom: 25px;
}

#margen{
    padding-top: 50px;
}
#buscar{
    /*
    background:  #2DA3E7;*/
    color:  white;
}
.box-pie{
    padding-top: 2px;
}
.box{
    width: 100%;
    height: 100%;
    min-height: 170px;
    min-width: 293px;
}
.panel.panel-horizontal > .derecha{
    display:table-cell;
    border-radius: 0px 0px 0px 0px;
    border:0;
    vertical-align: middle;
}
.panel.panel-horizontal > .izquierda{
    border-radius: 0px 0px 0px 0px;
}
#wrap {
    padding:2em;
}
.panel.panel-horizontal {
    display:table;
    width:100%;
}
.panel.panel-horizontal > .panel-heading {
    /*width: 25%;*/
    display:table-cell;
    border:0;
    vertical-align: middle;
    border-right: 1px solid #ddd;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
}
.panel.panel-horizontal > .panel-body {
    /*width: 25%;*/
    display:table-cell;
    border:0;
    vertical-align: middle;
    border-right: 1px solid #ddd;
    /*border-top-right-radius: 0;*/
    border-bottom-left-radius: 4px;
}
.panel.panel-horizontal > .panel-footer{
    display:table-cell;
    width: 20%;
    border:0;
    vertical-align: middle;
    /*border-left: 1px solid #ddd;*/
    /*border-top-left-radius: 0;*/
    /*border-bottom-right-radius: 4px;*/
    border-radius: 0px 4px 4px 0px;
}
.panel-body.panel-color{
    color:white;
    background: #2EA3E7;
}
.panel-footer.panel-color{
    width: 20%;
    color:white;
    background: #2EA3E7;
}
.panel-color{
    color:white;
    background: #2EA3E7;
}
.price {
    size: 10px;
    position: absolute;
    top: 10px;
    left: -5px;
    background-color: #2EA3E7;
    color: #fff;
    padding: 2px 20px 2px 10px;
    z-index: 10;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 4px 4px 4px 4px;
}
.table > tbody > tr > td {
    vertical-align: middle;
}
.carousel-inner .item img {
    /*    width: 100%;
        height: 100%;*/
}

#myCarousel {/*
    height: 460px;
    overflow: hidden;*/
}

@media (min-width: 992px) {
    .box {
        min-height: 170px;
        min-width: 245px;
    }
}
@media (min-width: 768px) {
    .box {
        height: 200px;
        width: 345px;
    }
}

@media (max-width: 768px) {/*
    #myCarousel {
        height: 290px;
        margin: auto;
    }
    #titulo-imagen {
        top: 221px;
    }*/
    .panel.panel-horizontal > .panel-footer{
        width: 33%;
        color:white;
        background: #2EA3E7;
    }
    .panel.panel-horizontal > .panel-body{
        width: 33%;
    }

}
@media (max-width: 480px) {
    /*
    #myCarousel {
        height: 220px;
        margin: auto;
    }
    #titulo-imagen {
        top: 151px;
    }*/
    /* reinicia el teamaño del carousel
    #myCarousel {
        height: initial;
        overflow: auto;
    }
    #titulo-imagen {
        bottom: 0;
        top:initial;
    }*/
}

/*cajas imagenes index.*/


.panel-image img.panel-image-preview {
    width: 100%;
    border-radius: 4px 4px 0px 0px;
}

.panel-heading ~ .panel-image img.panel-image-preview {
    border-radius: 0px;
}

.panel-image ~ .panel-body, .panel-image.hide-panel-body ~ .panel-body {
    overflow: hidden;
}
.panel-image ~ .panel-footer a {
    padding: 0px 10px;
    font-size: 1.3em;
    color: rgb(100, 100, 100);
} 

.panel-image.hide-panel-body ~ .panel-body {
    height: 0px;
    padding: 0px;
}

/*FIN*/

.loading .fa { color: #229EE6; }
textarea { resize: vertical; }